@page
@model PS4.CreateModel
@{
    ViewData["Title"] = "Nowy produkt";
}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="d-block border border-3 border-primary rounded col-6">
            <div class="justify-content-center text-dark">
                <div class="text-center">
                    <h1>Dodaj produkt</h1>
                    <form class="form-horizontal col-12" method="post">
                        <div>
                            <input asp-for="newProduct.name" placeholder="Nazwa" class="form-control" required>
                            <input asp-for="newProduct.price" type="text" placeholder="Cena" class="form-control" min="0" required>
                            <button class="btn btn btn-primary col-12">Zatwierdź</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>