@page "{id?}"
@model PS4.EditModel
@{
    ViewData["Title"] = "Edytuj produkt";
}
<div class="row">
    <div class="col-3"></div>
    <div class="col-6">
        <div class="d-block border border-3 border-primary rounded ">
            <div class="justify-content-center text-dark">
                <div class="text-center"><h1>Edytuj produkt</h1></div>
                <div class="text-justify col-12">
                    <form method="post">
                        <div class="form-group">
                            <input asp-for="EditProduct.name" placeholder="Nazwa" required class="form-control col-12"/>
                            <div class="input-group">
                                <input asp-for="EditProduct.price" placeholder="Cena" class="form-control col-12" required />
                                <span asp-validation-for="EditProduct.price" class="text-danger"></span>
                            </div>
                            <input asp-for="EditProduct.id" hidden value="@Model.Id" />
                            <button type="submit" class="btn-secondary justify-content-center col-12">Zatwierdź</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>
