@page
@model PS4.EditModel
@{
    ViewData["Title"] = "Edytuj produkt";
}
<h2>Edytuj produkt</h2>
<br />
<br />
<div class="container">
   <form method="post">
       <div class="form-group">
           <label asp-for="EditProduct.name"> Nazwa
               <input asp-for="EditProduct.name" required/>
           </label> <br />
           <label asp-for="EditProduct.price"> Cena
               <input asp-for="EditProduct.price" type="number" min="0" required /> 
           </label>
          <input asp-for="EditProduct.id" hidden value="0"/><br />
           <button type="submit" class="btn-secondary">Zatwierdź</button>
       </div>
   </form>
</div>