@page
@model PS6.Pages.AddModel
@{
    ViewData["Title"] = "Dodaj produkt";
}
<div class="container justify-content-center col-6 border border-dark rounded text-center">
    <div class="row">
        <div class="col-12 text-white bg-dark">
            <h1>Dodaj nowy produkt</h1>
        </div>
    </div>
        <form method="post">
            <div class="row justify-content-center pt-2">
                <div class="input-group col-12">
                    <input asp-for="NewProduct.Name" class="form-control" type="text" maxlength="50" placeholder="Nazwa" required />
                </div>
            </div>
            <div class="row pt-2">
                <div class="input-group col-12">
                    <input asp-for="NewProduct.Price" class="form-control" type="text" min="0" max="99999999" pattern="([0-9]{1},[0-9]{1,2})|([1-9]{1}\d*,\d{1,2})|([1-9]\d*)" placeholder="Cena" required />
                    <div class="input-group-append">
                        <span class="input-group-text">zł</span>
                    </div>
                </div>
            </div>
            <div class="row pt-2">
                <div class="input-group col-12">
                    <textarea asp-for="NewProduct.Description" class="form-control" maxlength="500" placeholder="Opis" required></textarea>
                </div>
            </div>
            <div class="row pt-2">
                <div class="col">
                    <select asp-for="NewProduct.IdCategory" class="form-select form-select-lg" aria-label="Kategoria" required>
                        <option value="1">Podzespoły Komputerowe</option>
                        <option value="2">Laptopy</option>
                        <option value="3">Komputery</option>
                        <option value="4">Peryferia Komputerowe</option>
                        <option value="5">Smartfony i Smartwatche</option>
                    </select>
                </div>
            </div>
            <div class="row pt-2 pb-2">
                <div class="input-group col-12 justify-content-center">
                    <button type="submit" class="btn btn-dark col-4" name="click" value="1">Dodaj</button>
                </div>
            </div>
        </form>
</div>