@page
@model PS2.Pages.BmiCalculator.FormModel
@{
}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="border border-primary">
                <div class="justify-content-center">
                    <div class="text-center"><h1>Oblicz swój wskaźnik BMI</h1></div>
                    <div>
                        <form method="post">
                            <div>
                                <input asp-for="person.Name" placeholder="Imię" /><br />
                                <span asp-validation-for="person.Name"></span>
                            </div>
                            <div>
                                <input asp-for="person.Email" placeholder="Adres E-mail (opcjonalne)" />
                                <span asp-validation-for="person.Email"></span>
                            </div>
                            <div>
                                <input asp-for="person.Height" placeholder="Wzrost"/>
                                <span asp-validation-for="person.Height"></span>
                                <select name="HeightUnit">
                                    <option value="1">cm</option>
                                    <option value="2">m</option>
                                </select>
                            </div>
                            <div>
                                <input asp-for="person.Weight"  placeholder="Waga"/>
                                <span asp-validation-for="person.Weight"></span>
                            </div>
                            <div>
                                <input asp-for="person.Age"  placeholder="Wiek (opcjonalne)" /><br />
                                <span asp-validation-for="person.Age"></span>
                            </div>
                            <div>
                                Płeć:<br />
                                <label><input type="radio" name="Gender" value="Gender.Mężczyzna" required/>Mężczyzna</label>
                                <label><input type="radio" name="Gender" value="Gender.Kobieta" />  Kobieta  </label>
                            </div>
                            <div>
                                <input type="submit" name="Oblicz" />
                            </div>
                        </form>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>