@page
@model IndexModel
@{
    ViewData["Title"] = "Home page";
}

<div class="container">
    <div class="row">
        <div class="col-3"></div>
        <div class="col-6">
            <div class="d-block border border-3 border-primary rounded ">
                <div class="justify-content-center text-dark">
                    <div class="text-center"><h1>Kalkulator BMI</h1></div>
                    <div class="text-justify col-12">
                        Kalkulator BMI (Body Mass Index) daje każdemu możliwość szybkiego i wygodego obliczenia własnego wskaźnika masy ciała. BMI obliczamy dzieląc masę ciała (w kilogramach) przez wzrost do kwadratu (w metrach). Wskaźnik ten wykorzystywany jest przede wszystkim do oceny ryzyka pojawienia się groźnych chorób: miażdżycy, choroby niedokrwiennej serca, udaru mózgu, czy nawet nowotworów. Większość tych chorób jest związana z otyłością i dlatego kalkulator BMI to tak przydatne narzędzie.
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>