@page
@model IndexModel
@{
    ViewData["Title"] = "Strona główna";
}

<div class="container border border-danger text-white col-6 bg-info">
    <div class="row pt-2 justify-content-center">
        <div class="col-6 text-center" style="font-family: 'Comic Sans MS';">
            Przynajmniej
        </div>
    </div>
    <div class="row pt-2 justify-content-center">
        <div class="col-2 text-center" style="font-family: 'Comic Sans MS';">
            jedna
        </div>
        <div class="col-8 text-center" style="font-family: 'Comic Sans MS';">
            <img class="img-fluid" src="~/smile.jpg" />
        </div>
        <div class="col-2 text-center" style="font-family: 'Comic Sans MS';">
            strona
        </div>
    </div>
    <div class="row pt-2 pb-2 justify-content-center">
        <div class="col-6 text-center" style="font-family: 'Comic Sans MS';">
            z zawartością   
        </div>
    </div>
</div>

