@page
@model PS5.Pages.RemoveModel
@{
}

<div class="container">
    <div class="row justify-content-center">
        <div class="col-6 border-bottom-0 border-dark rounded-top text-center text-white bg-dark">
            <h1>Czy na pewno chcesz usunąć produkt</h1>
        </div>
    </div>
    <form method="post">
        <div class="row justify-content-center align-text-bottom">
            <div class="col-1 input-group border-left border-dark">
                <p class="text-left text-dark"><strong>Nazwa</strong></p>
            </div>
            <div class="col-5 input-group border-right border-dark">
                <p class="text-left text-dark">@Model.Product.Name</p>
            </div>
        </div>
        <div class="row justify-content-center align-text-bottom">
            <div class="col-1 input-group border-left border-dark">
                <p class="text-left text-dark"><strong>Cena</strong></p>
            </div>
            <div class="col-5 input-group border-right border-dark">
                <p class="text-left text-dark">@Model.Product.Price</p>
            </div>
        </div>
        <div class="row justify-content-center align-text-bottom">
            <div class="col-1 input-group border-left border-dark">
                <p class="text-left text-dark"><strong>Opis</strong></p>
            </div>
            <div class="col-5 input-group border-right border-dark">
                <p class="text-left text-dark">@Model.Product.Description</p>
            </div>
        </div>
        <div class="row justify-content-center">
            <div class="col-6 input-group border-left border-right border-bottom border-dark rounded-bottom">
                <div class="input-group justify-content-center">
                    <button type="submit" name="option" class="btn btn-dark col-2" value="1">Tak</button>
                    <button type="submit" name="option" class="btn btn-light btn-outline-dark col-2" value="0">Nie</button>
                </div>
            </div>
        </div>
    </form>
</div>